<!DOCTYPE html>
<html>
<head>
    <style>
        table {
            font-family: arial, sans-serif;
            border-collapse: collapse;
            width: 100%;
        }

        td,
        th {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;
        }

        tr:nth-child(even) {
            background-color: #dddddd;
        }
    </style>
</head>
<body>
    <h2>Registros no banco de dados sqlite3 (Registros no banco de dados sqlite3)</h2>

    <table>
        <tr>
            <th>Nome</th>
            <th>Pais</th>
        </tr>
        {{user_records}}
    </table>
    <a href="/">Formulario</a>
</body>
</html>

